<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css' rel='stylesheet'
        integrity='sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi' crossorigin='anonymous'>
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>BoolzApp</title>
</head>

<body>
    <div id="app">


        <div class="container">
            <div class="row">
                <div class="col-4 left">
                    <div class="user d-flex justify-content-between bg-light border-end">
                        <!-- User profile -->
                        <div class="p-2 test">
                            <img class="rounded-circle" src="./assets/img/avatar_io.jpg" alt="">
                            <span class="ps-1 fw-bolder">Sofia</span>
                        </div>
                        <div class="p-2 align-self-center fs-5">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message mx-2"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="notifiche d-flex bg-primary px-2">
                        <!--Attiva notifiche dexktop-->
                        <span class="align-self-center px-2 bg-light d-flex silence rounded-circle me-2">
                            <i class="fa-solid fa-bell-slash align-self-center fs-4 p-1"></i>
                        </span>
                        <div class="py-3 test">
                            <div class="fw-bolder">Ricevi notifiche di nuovi messaggi</div>
                            <div>Attiva notifiche desktop</div>
                        </div>
                    </div>
                    <div class="search">
                        <!-- Search -->
                        <div class="light_bg">
                            <div class="input-group p-2">
                                <div class="input-group-text px-4"><i class="fa-solid fa-magnifying-glass"></i></div>
                                <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat"  v-model="searchContact" @keyup="search()"> 
                            </div>
                        </div>
                    </div>
                    <div class="contacts overflow bg-light">
                        <div v-for="(element, i) in contacts" class="contact px-2"
                            v-bind:class="activeContact === i ? 'bg-secondary' : 'bg-light' "
                            @click="changeContact(i)">
                            <div class="d-flex py-2" v-if="element.visible">
                                <span>
                                    <img class="rounded-circle" :src="`./assets/img/avatar${element.avatar}.jpg`"
                                        alt="">
                                </span>
                                <div class="test ps-4">
                                    <div class="fw-bolder">{{contacts[i].name}}</div>
                                    <div>Ultimo messaggio inviato</div>
                                </div>
                                <div class="ms-auto">
                                    12:00
                                    <!--{{contacts[0].messages[0].date}}-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8 right">
                    <div class="currentContact">
                        <!-- Contatto attuale-->
                        <div class="col d-flex justify-content-between bg-light">
                            <div class="p-2 d-flex ">
                                <span>
                                    <img class="rounded-circle"
                                        :src="`./assets/img/avatar${contacts[activeContact].avatar}.jpg`" alt="">
                                </span>
                                <div class="test align-self-center ps-1">
                                    <div class="fw-bolder">
                                        {{contacts[activeContact].name}}
                                    </div>
                                    <div>Ultimo accesso oggi alle 12:00</div>
                                </div>

                            </div>
                            <div class="p-2 align-self-center fs-5">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip mx-2"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                    </div>
                    <div class="chat">
                        <!-- Chat -->
                        <div class="container">
                            <div class="row d-flex mx-5 pt-5"
                                v-bind:class="element.status === 'sent' ? 'flex-row-reverse'  : ''  "
                                v-for="(element,i) in contacts[activeContact].messages">
                                <!-- flex-row-reverse -->
                                <!-- v-for="(element,i) in contacts[activeContact].messages" -->
                                <div class="col-5">
                                    <div class="my_message rounded p-2"
                                        v-bind:id="element.status === 'sent' ? ''  : 'withe'">
                                        {{element.message}}

                                        <div class="text-end">
                                            {{element.date}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-3 bg-light">
                        <!--Inserimento chat-->
                        <div class="input-group justify-content-between">
                            <div class="input-group-text px-4"><i class="fa-regular fa-face-smile"></i></i></div>
                            <input @keyup.enter="addNew()" type="text" v-model="newMessage" class="flex-grow-1">
                            <!-- v-model="newMessage" -->
                            <div class="input-group-text px-4 "><i class="fa-solid fa-microphone"></i></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/main.js"></script>
</body>

</html>