* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: palegreen;
    height: 100vh;
    overflow: hidden;
}

.left {
    padding-right: 0px;
}
.right{
    padding: 0px; 
    margin: 0px;
}

.chat {
    background-image: url(../img/bg_chat1.jpg);
    height: 763px;
    overflow: auto;
}


img {
    width: 60px;
}

.test {
    font-size: 13px;
}

.silence {
    aspect-ratio: 1 / 1;
}

.light_bg {
    background-color: #FAFAFA;
}

.overflow {
    overflow: auto;
}

.contacts{
    height: 700px;
}


.my_message {
    background-color: green;
}

#withe {
    background-color: white;
}

.my_message>.text-end {
    font-size: 10px;
}


